.wrapper {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
}

.wrapper h1 {
    text-align: center;
}

.movie-listing {
    padding: 0;
    list-style: none;
}

.movie-listing li {
    margin-bottom: 15px;
    display: flex;
}

